@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

:root {
  /* Colors */
  /* Primary */
  --color-moderate-cyan: hsl(176, 50%, 47%);
  --color-dark-cyan: hsl(176, 72%, 28%);
  /* Neutral */
  --color-black: hsl(0, 0%, 0%);
  --color-dark-gray: hsl(0, 0%, 48%);
  /* Typography */
  --font-size: 16px;
  --font-main-font: "Commissioner", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  font-family: var(--font-main-font);
  font-size: var(--font-size);
  background-color: #f2f2f2;
}

/* Header */

header .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

header {
  position: relative;
  background-image: url("../img/image-hero-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}

header nav {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

header nav ul {
  display: flex;
  list-style: none;
}

.mobile-menu {
  display: none;
  background-image: url("../img/icon-hamburger.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15px;
  width: 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  margin-left: 40px;
  font-weight: 500;
}

.hero {
  position: absolute;
  bottom: -200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 800px;
  background-color: white;
  height: 300px;
  text-align: center;
  border-radius: 8px;
  border: 5px solid --var(--color-dark-gray);
}

.hero .logo-hero {
  position: absolute;
  top: -30px;
  left: calc(50% - 30px);
}

.hero .hero-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 60px;
}

.hero .hero-body p {
  color: var(--color-dark-gray);
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}

.hero .hero-buttons {
  display: flex;
  justify-content: space-between;
  padding: 60px;
}

.hero .hero-button {
  background-color: var(--color-moderate-cyan);
  color: white;
  font-weight: 600;
  padding: 20px;
  width: 220px;
  border-radius: 100px;
  font-family: var(--font-main-font);
  font-size: var(--font-size);
  border: none;
  cursor: pointer;
}

.hero .hero-bookmark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  color: var(--color-dark-gray);
  font-family: var(--font-main-font);
  font-size: var(--font-size);
  font-weight: 700;
  text-decoration: none;
  padding-right: 30px;
  height: 56px;
  width: 185px;
  border-radius: 100px;
  border: none;
  position: relative;
  cursor: pointer;
}

.hero .hero-bookmark:hover {
  background-color: #f2f2f2 !important;
}

.hero .hero-bookmark:hover svg g circle {
  fill: var(--color-dark-gray);
}

/* Main */

main {
  width: 800px;
  margin: 230px auto;
}

main .stats {
  background-color: white;
  margin: 30px 0;
  border-radius: 8px;
  padding: 60px;
}

main .stats-info {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

main .stats-info div {
  width: 30%;
  height: 100%;
  margin-bottom: 30px;
  padding-left: 50px;
}

main .stats-info div:nth-child(1) {
  padding-left: 0;
}

main .stats-info div:nth-child(even) {
  border-right: 2px solid #f2f2f2;
  border-left: 2px solid #f2f2f2;
  width: 35%;
}

main .stats-info div h3 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px;
}

main .stats-info div p {
  color: var(--color-dark-gray);
  font-weight: 500;
}

main .stats .stats-bar {
  position: relative;
  margin-top: 10px;
  width: 100%;
  background-color: #f2f2f2;
  height: 15px;
  border-radius: 10px;
  overflow: hidden;
}

main .stats .stats-bar .bar {
  position: absolute;
  border-radius: 10px;
  top: -2px;
  left: 0;
  height: 20px;
  background-color: var(--color-moderate-cyan);
  width: 89.91%;
}

main .about-this {
  background-color: white;
  border-radius: 8px;
  padding: 60px;
}

main .about-this h3 {
  font-weight: 700;
  font-size: 20px;
}

main .about-this p {
  color: var(--color-dark-gray);
  line-height: 30px;
  margin: 40px 0;
  font-size: var(--font-size);
  text-align: justify;
}

main .about-this .option {
  border-radius: 8px;
  border: 2px solid #f2f2f2;
  padding: 40px 35px;
  margin-bottom: 30px;
}

main .about-this .option:nth-last-child(1) {
  margin-bottom: 0;
}

main .about-this .option .option-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

main .about-this .option .option-header > p {
  color: var(--color-moderate-cyan);
  font-weight: 500;
}

main .about-this .option .option-body > .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

main .about-this .option .option-body > .buttons p span,
.modal .modal-options .option .option-title .info p span {
  color: black;
  font-size: 35px;
  font-weight: 700;
  margin-right: 8px;
}

main .about-this .option .option-body > .buttons p,
.modal .modal-options .option .option-title .info p {
  display: flex;
  align-items: center;
  color: var(--color-dark-gray);
  font-size: 15px;
  font-weight: 400;
}

main .about-this .option .option-body > .buttons button {
  background-color: var(--color-moderate-cyan);
  color: white;
  font-weight: 600;
  padding: 20px;
  width: 220px;
  border-radius: 100px;
  font-family: var(--font-main-font);
  font-size: var(--font-size);
  border: none;
  cursor: pointer;
}

/* Modal */

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.overlay-modal {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(3px);
  /*   filter: blur(8px);
  -webkit-filter: blur(8px); */
}

.modal {
  position: absolute;
  background-color: white;
  width: 800px;
  top: 20vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 8px;
  padding: 60px;
}

.modal .modal-body {
  position: relative;
}

.modal .modal-body .modal-text p {
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal .close-modal {
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
  background-image: url("../img/icon-close-modal.svg");
  height: 15px;
  width: 15px;
}

.modal .option {
  border-radius: 8px;
  border: 2px solid #f2f2f2;
  margin-bottom: 30px;
}

.modal .option .option-top .option-text h4:hover {
  color: var(--color-moderate-cyan);
  cursor: pointer;
}

.modal .option .option-top input:checked .option {
  border: 2px solid var(--color-dark-cyan);
}

.modal .option .option-top {
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
}

.modal .option .option-top input[type="radio"] {
  height: 20px;
  width: 20px;
  padding: 3px;
  background-color: #2f2f2f;
}

.modal .option .option-top input[type="radio"]:after {
  background-color: #2f2f2f;
}

.modal .option hr {
  display: none;
  width: 100%;
  border: 1px solid #f2f2f2;
}

.modal .option .option-bottom {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px;
}

.modal .option .option-bottom p {
  font-size: 15px;
  color: var(--color-dark-gray);
}

.modal .option .option-bottom .inputs .number {
  border-radius: 100px;
  font-family: var(--font-main-font);
  font-size: 15px;
  padding: 16px;
  width: 130px;
  color: var(--color-dark-gray);
  border: 2px solid #f2f2f2;
  margin-right: 15px;
}

.modal .option .option-bottom .inputs button {
  background-color: var(--color-moderate-cyan);
  color: white;
  font-weight: 600;
  padding: 18px;
  width: 130px;
  border-radius: 100px;
  font-family: var(--font-main-font);
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.modal .option .option-text {
  width: 90%;
}

.modal .option .option-top .option-text > p {
  color: var(--color-dark-gray);
  line-height: 25px;
  font-size: 14px;
  text-align: justify;
}

.modal .option .option-top .option-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal .modal-options .option .option-top .option-title .info p span {
  font-size: 25px;
}

.modal .option .option-top .option-title .titles {
  display: flex;
}

.modal .option .option-title .titles p {
  color: var(--color-moderate-cyan);
  font-weight: 500;
  margin-left: 25px;
}

.modal .option:nth-last-child(1) {
  margin-bottom: 0;
}

.modal-success {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: white;
  text-align: center;
  width: 600px;
  top: 20vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 8px;
  padding: 60px;
  height: 450px;
}

.modal-success .success-text h3 {
  margin-bottom: 20px;
}

.modal-success .success-text P {
  line-height: 25px;
  font-size: 14px;
}

.modal-success button {
  background-color: var(--color-moderate-cyan);
  color: white;
  font-weight: 600;
  padding: 18px;
  width: 130px;
  border-radius: 100px;
  font-family: var(--font-main-font);
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.modal-success .img-success {
  background-image: url("../img/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80px;
  width: 80px;
}

.hide {
  display: none !important;
}

button {
  outline: none !important;
}

button:hover {
  outline: none !important;
  background-color: var(--color-dark-cyan) !important;
}

.modal .option .option-bottom .inputs input:focus {
  outline: none !important;
  border: 2px solid var(--color-moderate-cyan) !important;
}

.disabled {
  filter: grayscale(100%);
  opacity: 0.6;
}

.modal-active {
  border: 2px solid var(--color-moderate-cyan) !important;
}

.modal-active > .option-bottom {
  display: flex !important;
}

.modal-active > hr {
  display: block !important;
}

.hero-bookmark-mobile {
  display: none;
}
